<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
	<meta name="theme-color" content="#2196f3">
	<meta name="author" content="Capture Clash" /> 
    <meta name="keywords" content="" /> 
    <meta name="robots" content="" /> 
	<meta name="description" content="Capture Clash - Comment"/>
	<meta property="og:title" content="Capture Clash - Comment" />
	<meta property="og:description" content="Capture Clash - Comment" />
	<meta property="og:image" content="social-image.png"/>
	<meta name="format-detection" content="telephone=no">
    
    <!-- Favicons Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png" />
    
    <!-- Title -->
	<title>Capture Clash - Comment</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>    
</head>   
<body class="bg-white" >
<div class="page-wraper header-fixed" id="app">
    <div id="preloader">
        <div class="spinner"></div>
    </div>
	<header class="header bg-white">
		<div class="container">
			<div class="main-bar">
				<div class="left-content">
					<a href="javascript:void(0);" class="back-btn">
						<i class="fa-solid fa-arrow-left"></i>
					</a>
					<h4 class="title mb-0">Comments</h4>
				</div>
				<div class="mid-content">
				</div>
				<div class="right-content">
				</div>
			</div>
		</div>
	</header>
    <div class="page-content">
		<div class="container profile-area bottom-content">	
			<ul class="dz-comments-list">
				<template v-for="comment in comments" :key="comment.comment_seq">
				  <li>
					<div class="list-content">
					  <img src="/assets/images/message/pic2.jpg" alt="User Image">
					  <div>
						<h6 class="font-14 mb-1">{{ comment.user_name }}</h6>
						<p class="mb-2">{{ comment.comment_text }}</p>
						<ul class="bottom-item">
						  <li class="text-light" :id="'liLikesCount-' + comment.comment_seq" :data-like-count="comment.likes_count" ref="likesCountRef">{{ formatNumber(comment.likes_count) }} Like</li>
						  <li class="text-light" @click="replyCommentByCommentSeq(comment.comment_seq)" style="cursor: pointer;">Reply</li>
						  <li class="text-light"  @click="showChildComments(comment.comment_seq)" :style="{ display: comment.child_comments.length === 0 ? 'none' : 'flex' }">
							<a href="javascript:void(0);">
							{{ comment.child_comments.length === 1 ? "1 Reply" : comment.child_comments.length + " Replies" }}
						  </a>
						 </li>
						</ul>
					  </div>
					</div>
					<div class="ms-auto">
					  <div class="like-button" @click="likeComment(comment.comment_seq)" :class="{ active: isButtonActive(comment.comment_seq)  }" style="cursor: pointer;">
						<i :class="{ 'fa-regular fa-heart': !comment.liked, 'fa-solid fa-heart': comment.liked }" class="ms-auto"></i>
					  </div>
					</div>
				  </li>
				  <template v-if="comment.child_comments && comment.child_comments.length > 0">
					<template v-for="(reply, index) in comment.child_comments" :key="reply.comment_seq">
						<li class="parent-list" :data-li-comment-child-index="index" :class="'liChildComments-' + comment.comment_seq" style="display: none;">
						<div class="list-content">
						  <img src="/assets/images/message/pic2.jpg" alt="User Image">
						  <div>
							<h6 class="font-14 mb-1">{{ reply.user_name }}</h6>
							<p class="mb-2">{{ reply.comment_text }}</p>
							<ul class="bottom-item">
							  <li class="text-light" :id="'liLikesCount-' + reply.comment_seq" :data-like-count="reply.likes_count" ref="likesCountRef">{{ formatNumber(reply.likes_count) }} Like</li>
							  <li class="text-light" @click="replyCommentByCommentSeq(reply.comment_seq)" style="cursor: pointer;">Reply</li>
							</ul>
						  </div>
						</div>
						<div class="ms-auto">
						  <div class="like-button" @click.stop="likeComment(reply.comment_seq)" :class="{ active: isButtonActive(reply.comment_seq)  }" style="cursor: pointer;">
							<i :class="{ 'fa-regular fa-heart': !reply.liked, 'fa-solid fa-heart': reply.liked }" class="ms-auto"></i>
						  </div>
						</div>
					  </li>
					  <template v-if="reply.child_comments && reply.child_comments.length > 0">
						  <template v-for="(subChild,index) in reply.child_comments" :key="subChild.comment_seq">
							<li class="parent-list" :data-li-sub-child-index="index">
							  <div class="list-content">
								<img src="/assets/images/message/pic2.jpg" alt="User Image">
								<div>
								  <h6 class="font-14 mb-1">{{ subChild.user_name }}</h6>
								  <p class="mb-2">{{ subChild.comment_text }}</p>
								  <ul class="bottom-item">
									<li class="text-light">{{ formatNumber(subChild.likes_count) }} Like</li>
									<li class="text-light" @click="replyCommentByCommentSeq(subChild.comment_seq)" style="cursor: pointer;">Reply</li>
								  </ul>
								</div>
							  </div>
							  <div class="ms-auto">
								<div class="like-button" @click="likeComment(subChild.comment_seq)"  :class="{ active: isButtonActive(subChild.comment_seq) }" style="cursor: pointer;">
								  <i :class="{ 'fa-regular fa-heart': !subChild.liked, 'fa-solid fa-heart': subChild.liked }" class="ms-auto"></i>
								</div>
							  </div>
							</li>
						  </template>
						</template>
					</template>
				  </template>
				</template>
			  </ul>								  
		</div>		
    </div>
		<footer class="footer fixed border-top">
        <div class="container py-2">
            <div class="commnet-footer">
				<div class="d-flex align-items-center flex-1">
					<div class="media media-40 rounded-circle">
						<img src="/assets/images/stories/small/pic1.jpg" alt="/">
					</div>
					<form class="flex-1" @submit.prevent="submitComment">
                        <input type="text" class="form-control" v-model="newCommentText" placeholder="Add a Comment..." ref="commentInput"/>
                    </form>
				</div>
				<a href="javascript:void(0);" class="send-btn" id="newcommentsendbtn" @click="submitComment">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M21.4499 11.11L3.44989 2.11C3.27295 2.0187 3.07279 1.9823 2.87503 2.00546C2.67728 2.02862 2.49094 2.11029 2.33989 2.24C2.18946 2.37064 2.08149 2.54325 2.02982 2.73567C1.97815 2.9281 1.98514 3.13157 2.04989 3.32L4.99989 12L2.09989 20.68C2.05015 20.8267 2.03517 20.983 2.05613 21.1364C2.0771 21.2899 2.13344 21.4364 2.2207 21.5644C2.30797 21.6924 2.42378 21.7984 2.559 21.874C2.69422 21.9496 2.84515 21.9927 2.99989 22C3.15643 21.9991 3.31057 21.9614 3.44989 21.89L21.4499 12.89C21.6137 12.8061 21.7512 12.6786 21.8471 12.5216C21.9431 12.3645 21.9939 12.184 21.9939 12C21.9939 11.8159 21.9431 11.6355 21.8471 11.4784C21.7512 11.3214 21.6137 11.1939 21.4499 11.11ZM4.70989 19L6.70989 13H16.7099L4.70989 19ZM6.70989 11L4.70989 5L16.7599 11H6.70989Z" fill="#40189D"></path>
					</svg>
				</a>
            </div>    
        </div>
    </footer>
    </div>
</div> 
<script src="/assets/js/jquery.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/Scripts/Web/ClashLibraries/G_Crypto.js"></script>
<script>
	hideLoader();
</script>
<script src="/Scripts/Web/Post/jsComments.js"></script>
</body>
</html>